@{
    ViewData["Title"] = "Home Page";
}

<h3>Et bonjour !</h3>

<div class="row">
    @using (Html.BeginForm("Result", "Home", FormMethod.Post))
    {
        <div class="input-field col s12">
            <input id="text" name="input" type="text" class="validate">
            <label for="Text">Et là, tu tapes des trucs</label>
        </div>
        <input type="submit" class="btn" value="Go"/>
    }
</div>